html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}
body {
  --dot-bg: rgb(0, 0, 0);
  --dot-color: #272727;
  --dot-size: 1px;
  --dot-space: 22px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
  margin: 0;
  color: rgb(107, 107, 107);
  background-attachment: fixed;
  min-height: 100vh;
}

header {
  top: 0;
  position: fixed;
}
::-webkit-scrollbar {
  width: 0 !important;
}
main {
  width: 100%;
  position: fixed;
}
.section {
  height: 100vh;
  max-height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.one {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.two {
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: rgb(107, 107, 107);
  font-size: 1.5rem;
}
a:hover {
  border-bottom: 1px solid gray;
}
